/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #45badd;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./robot.gif");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

button{
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
  background: #ff38ff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(2, 3, 4, 0.5);
  margin: 4px;
}

button:hover{
  filter: brightness(90%);
}
button:active{
  transform: scale(0.97);
}
button:disabled{
  cursor: default;
  filter:brightness(30%);
}


.jokeContainer{
  width: auto;
  height: auto;
  max-width: 400px;
  padding: 20px 30px;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
}






/* MEdia Query: TAble and Smaller */

@media screen and (max-width:1000px) {
  .container{
    background-position-x: cover;
  }
  button{
    box-shadow: 5px 5px 30px rgba(2, 3, 4, 0.5);
  }
}